.titleList{
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
}
.titleList h2{
    padding: 0;
    margin: 0;
}

.title--error{
    color: red;
}

.title--success{
    color: green;
}

.title--pending{
    color: blue;
}